body {
	font: 100%/1.5 'Cantata One', serif;
	max-width: 1040px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-image: url("../images/stone_BG.jpg");
	background-repeat: repeat;
	background-position: center top;
	margin: 0 auto;
	overflow: hidden;
}

h1 {
	font-family: 'Ribeye', cursive;
	font-size: 2.5em;
	color: #150401;
	padding: .5px;
}

h2 {
	font-family: 'Cantata One', serif;
	font-size: 1.53em;
	color: #d4a017;
	text-shadow: 1px 1px 1px #150401;
	width: 50.8076923076923%;
	margin-top: .0615384615385%;
}

h3 {
	font-family: 'Cantata One', serif;
	font-size: 2em;
	color: #f4f4f4;
	margin-top: 25px;
}

h4 {
	font-family: 'Cantata One', serif;
	font-size: 1em;
	color: #7b0003;
	margin-top: 20px;
}

h5 {
	font-family: 'Cantata One', serif;
	font-size: 1.5em;
	color: #7b0003;
	margin-top:22px;
}

h6 {
	font-family: 'Cantata One', serif;
	font-size: 1em;
	color: #ffffff;
	margin-top:32px;
}

a:link{
	color: #d4a017;
}

a:visited{
	color: #5e583b;
}

a:hover{
	color: #f4f4f4;
}

a:active{
	color: #7b0003;
}

#head {
	width: 96%;
	margin: 0 auto;
}

#logo_container img {
	float: left;
	clear: left;
}

#phone {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 2.8125em;
	color: #150401;
	background-color: #657f8f;
	padding: 0% 0% 2% 72.4230769230769%;
}

#rock_container {
	width: 100%;
	float: left;
}

#rock_container img {
	max-width: 100%;
	float: left;
	clear: left;
}

ol li {
	display: inline;
	float: right;
	clear: right;
}

#facebook {
	float: right;
	max-width: 100%;
}

#twitter {
	float: right;
	max-width: 100%;
}

#youtube {
	float: right;
	max-width: 100%;
}

#top {
	color: #dbc497;
	font-size: 1em;
}

section {
	float: left;
	width: 96.8888889%;
	margin-left: 1.1111111;
}

aside {
	float: left;
	width: 36.777778%;
	padding-left: 2.5317221%;
}

#rafting_container {
	width: 80%;
	padding: 0% 10% 0% 10%;
}

#rafting_container img {
	max-width: 100%;
}

.main {
	font-family: 'Cantata One', serif;
	font-size: 1em;
	background-color: rgba(50, 28, 18, 0.5);
	border: 3px solid #150401;
	border-radius: 10px;
	padding: .5%;
	width: 94.9%;
	margin: .9615384615385% auto;
	box-shadow: 5px 5px 5px #150401;
}	

.main5 {
	font-family: 'Cantata One', serif;
	font-size: 1.875em;
	color: #150401;
	text-align: center;
}

ul {
	list-style-type: none;
	width: 900px;
	margin: 20px auto;
	overflow: hidden;
	padding: 10px;
	max-width: 300%;
}

li {
	float: left;
	margin-left: 30px;
}

#rafting_icon_container, #kayaking_icon_container, #fishing_icon_container, #hunting_icon_container, #horse_icon_container, #camping_icon_container {
	border: 10px solid #150401;
	display: block;
	height: 100px;
	width: 100px;
	outline: 0;
}

a:visited{
	border-color: #5e583b;
}

a:hover{
	border-color: #f4f4f4;
}

a:active{
	border-color: #7b0003;
}

#bottom {
	-moz-column-count: 3;
	-moz-column-gap: 40px;
}

table {
	border-collapse: collapse;
	border: 1px solid #150401;
	margin: 16px auto;
}

td {
	border: 1px solid #150401;
	padding: 0.3em;
}

th {
	text-align: left;
	background-color: rgba(50, 28, 18, 0.5);
	color: #f1f1f1;
	padding: 0.3em;
}

.pictures {
	float: left;
	color: #dbc497;
	font-size: 1em;
	background-color: rgba(50, 28, 18, 0.5);
	border: 3px solid #150401;
	border-radius: 10px;
	padding: 3.333%;
	width: 98.8461538461538%;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 5px 5px 5px #150401;
}

.video {
	float: left;
	color: #dbc497;
	font-size: 1em;
	background-color: rgba(50, 28, 18, 0.5);
	border: 3px solid #150401;
	border-radius: 10px;
	padding: 3.333%;
	width: 98.8461538461538%;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 5px 5px 5px #150401;
}

.adventure {
	float: left;
	clear: left;
	color: #dbc497;
	font-size: 1em;
	background-color: rgba(50, 28, 18, 0.5);
	border: 3px solid #150401;
	border-radius: 10px;
	padding: 3.333%;
	width: 98.8461538461538%;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 5px 5px 5px #150401;
}

form {
	float: left;
	clear: left;
	margin: 16px auto;
}

footer {
	float: right;
	clear: right;
	margin: 16px auto;
}

/* =Media Queries
================================================================== */

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width:959px) {
		#top {
	background-color: rgba(50, 28, 18, 0.5);
		}
}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#top {
	background-color: rgba(212, 160, 23, 0.5);
		}
}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#top {
	background-color: rgba(123, 0, 3, 0.5);
		}
}