

*/Color Swatch-------------------------------------------------------------------
	yellow		d4a017
	orange		b7410b
	red			7b0003
	blue		657f8f
	green		5e583b
	brown		321c12
	dark brown	150401
	link tan	dbc497
--------------------------------------------------------------------------------*/
	
*/Font Family--------------------------------------------------------------------
	font-family: 'Ribeye', cursive;
	font-family: 'Cantata One', serif;
	font-family: 'Simonetta', cursive;
	font-family: 'Shadows Into Light Two', cursive;
--------------------------------------------------------------------------------*/

body{
	font-family: 'Simonetta', cursive;
	font-size: 14px;
	line-height: 1.5;
	width: 1040px;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-image: #150401 url<../images/stone_medium_dark_brown_BG.jpg>;
	backgound-color: 150401;
}

h1 {
	font-family: 'Ribeye', cursive;
	font-size: 38px;
	color: #150401;
}

h2 {
	font-family: 'Cantata One', serif;
	font:size: 32px;
	color: #d4a017;
	text-shadow: 2px 2px 1px #150401;
	width: 290px;
	margin-top: 50px;
}

p {
	font-family: 'Simonetta', cursive;
	color: #150401;
}

img {
	float: left;
	clear: left;
}

#phone {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 45px;
	color: #150401;
	background-color: #657f8f;
	padding: 0px 0px 85px 1045px;
}

ol li {
	display: inline;
	float: right;
	clear: right;
}

#facebook {
	float: right;
}

#twitter {
	float: right;
}

#youtube {
	float: right;
}

#rafting {
	float: right;
	padding: 10px 0px 0px 300px
}

.top {
	color: #dbc497;
	background-color: #321c12;
	border: 3px solid #150401;
	border-radius: 10px;
	padding: 10px 10px 0px 0px;
	width: 400px;
	margin: 10px 5px;
	box-shadow: 5px 5px 5px #150401
}

.main1 .main2 .main3 .main4 {
	font-family: 'Simonetta', cursive;
	font-size: 16px;
	color: #150401;
}	

.main5 {
	font-family: 'Simonetta', cursive;
	font-size: 30px;
	color: #150401;
}

.bottom {
	-moz-column-count: 3;
	-moz-column-gap: 25px;
}